.menu {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* 반응형 애니메이션용 */
  transition: all 0.5s ease; /* 반응형 애니메이션 */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list a {
  font-size: 20px;
  color: rgb(126, 125, 125);
  text-decoration-line: none;
}

.list a:hover {
  color: #000;
}

.menu ul li:hover {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.menu div {
  line-height: 1.5;
  font-size: 1em;
  font-family: "Noto Sans KR";
  padding: 0 0 0 50px; /* 아이콘과 텍스트 사이 여백 */
}
